*{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
img{
	width: 300px;
	border-radius: 3px;
	border: 1px solid #D8D8D8;
	margin-top: 15px;
	display: block;
}
.step{
	background-color: #FAFAFA;
	height: 100vh;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
.title{
	padding-top: 80px;
	text-align: center;
}
.budget-wrapper{
	margin-top: 40px;
	text-align: center;
	flex-grow: 1;
}
.budget-wrapper select{
	width: 300px;
    height: 40px;
    border: 1px solid #D8D8D8;
    font-size: 16px;
}
.select-images{
	margin-top: 40px;
	flex-grow: 1;
}
.select-images__inner{
	display: flex;
	justify-content: space-around;
}
.value{
	font-size: 18px;
	font-weight: 600;
}
.price{
	font-size: 14px;
}
.buttons{
	margin-top: 50px;
	display: flex;
	justify-content: center;
}
.button{
	font-size: 22px;
    text-decoration: none;
    color: #000;
    padding: 10px 24px;
    border: 1px solid #000;
    margin-right: 50px;
}
.button:nth-last-child(1){
	margin-right: 0;
}
.cpu-result, .graphics-card-result{
	font-size: 18px;
}
.cpu-result__inner, .graphics-card-result__inner{
	font-weight: 600;
}
.cpu-result{
	margin-top: 15px;
}
.graphics-card-result{
	margin-top: 5px;
}
.result{
	margin-top: 25px;
	flex-grow: 1;
}
.result-nout__inner, .result-pc__inner{
	margin: 0 auto;
}
.content{
	display: flex;
}
.select-steps{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.select-steps__item{
	display: block;
	font-size: 22px;
    text-decoration: none;
    color: #000;
    padding: 10px 24px;
    border: 1px solid #000;
    background-color: #DCDCDC;
}
.select-steps__item--active-click{
	background-color: #fff;
}
.select-steps__item--active{
	background-color: #00bfff;
}

.step, .select-images__inner, .result-nout, .result-pc, .result-nout__inner, .result-pc__inner{
	display: none;
}
.active{
	display: flex;
}